
@{
    ViewBag.Title = "TestSetup";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-free-code-camp"></i> Test Setup</h1>
        <p>Setup form for Test</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item"><a href="#">Test Setup</a></li>
    </ul>
</div>

<div id="mainMessageContext"></div>
<div class="row" id="testListContext">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="tile-title">Test List</h3>
                <p>
                    <button type="button" class="btn btn-primary" id="btnOpenSetup"><i class="fa fa-fw fa-lg fa-check-circle"></i>Create Test</button>
                </p>
            </div>
            <hr />
            <div class="tile-body tableContext">

            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalTestContext" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content validate-form" id="testContext">
            <div class="modal-header">
                <h3>Test Setup</h3>
                <button type="button" class="close cancel-test-setup">×</button>
            </div>
            <div class="modal-body">
                <div id="popupMessageContext"></div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="name-tag control-label required-sign">Category</label>
                                <select class="form-control " id="categoryType" data-required="Category is required"></select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="name-tag control-label required-sign">Level</label>
                                <select class="form-control " id="levelType" data-required="Level is required"></select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="name-tag control-label required-sign">Type</label>
                                <select class="form-control " id="testType" data-required="Type is required"></select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="name-tag control-label required-sign">Marks</label>
                                <input class="form-control " id="testMarks" type="number" data-required="Mark is required" placeholder="00" onkeypress="return event.charCode >= 48" min="0" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="name-tag control-label required-sign">Description</label>
                                <textarea class="form-control testDescription" cols="40" rows="5" id="testDescription" data-required="Description is required"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="name-tag control-label required-sign" style="text-align:match-parent">Instruction</label>
                                <textarea class="form-control testInstruction" cols="40" rows="5" id="testInstruction" data-required="Instruction is required"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="name-tag control-label required-sign">Duration</label>
                                <input class="form-control testDuration" type="number" id="testDuration" placeholder="00 min(s)" data-required="Duration is required" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="name-tag control-label required-sign">Status</label>
                                <select class="form-control " id="testStatus" data-required="Status is required">
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="btnCreateTest">Create</button>
                <button class="btn btn-primary cancel-test-setup" type="button" id="btnCancelTest">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/CommonTask/AppConstant"></script>
    <script src="~/Scripts/common/form-validation-service.js"></script>
    <script src="~/Scripts/module/test-setup/test-setup.js"></script>
    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        (function ($, window, document) {
            $(function () {
                var config = {
                    selectCategory: '#categoryType',
                    selectLevel: '#levelType',
                    selectTestType: '#testType',
                    createTest: '#btnCreateTest',
                    testContext: '#testContext',
                    testMarksInput: '#testMarks',
                    testDescriptionInput: '#testDescription',
                    testInstructionInput: '#testInstruction',
                    testDurationInput: '#testDuration',
                    testTableContext: '.tableContext',
                    openSetup: '#btnOpenSetup',
                    modalTestContext: '#modalTestContext',
                    testListContext: '#testListContext',
                    cancelTestSetup: '.cancel-test-setup',
                    mainMessageContext: '#mainMessageContext',
                    popupMessageContext: '#popupMessageContext',
                    testId: '.test-id',
                    categoryValue: '.category-value',
                    typeValue: '.type-value',
                    levelValue: '.level-value',
                    testMarks: '.test-marks',
                    testDescription: '.test-description',
                    testInstruction: '.test-instruction',
                    testDuration: '.test-duration',
                    testStatus: '.test-status',
                    testStatusInput: '#testStatus',
                    testEdit: '.test-edit',
                    testRecords: '#tblTestRecords',
                };
                testBankSetup.init(config);

            });

        }(window.jQuery, window, document));
    </script>

}