
@{
    ViewBag.Title = "TestSetup";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-edit"></i>Test Setup</h1>
        <p>Setup form for Test</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item"><a href="#">Test Setup</a></li>
    </ul>
</div>

<div id="mainMessageContext"></div>
<div class="row" id="testListContext">
    <div class="col-md-12 tile">
        <div class="tile-title-w-btn">
            <h3 class="tile-title">Test List</h3>
            <p>
                <button type="button" class="btn btn-primary" id="btnOpenSetup"><i class="fa fa-fw fa-lg fa-check-circle"></i>Create Test</button>
            </p>
            </div>
            <div class=" tableContext">

            </div>
        </div>
    </div>

<div class="modal" id="modalTestContext" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="testContext">
            <div class="modal-header">
                <h3>Test Setup</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <div id="popupMessageContext"></div>
                <div class="col-md-12" >
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control " id="categoryType"></select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Level</label>
                                <select class="form-control " id="levelType"></select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Type</label>
                                <select class="form-control " id="testType"></select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Marks</label>
                                <input class="form-control " id="testMarks" type="number" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control testDescription" cols="40" rows="5" id="testDescription"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label style="text-align:match-parent">Instruction</label>
                                <textarea class="form-control testInstruction" cols="40" rows="5" id="testInstruction"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Duration</label>
                                <input class="form-control testDuration" type="number" id="testDuration" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="btnCreateTest">Create</button>
                <button class="btn btn-primary" type="button" id="btnUpdateTest" style="display:none">Update</button>
                <button class="btn btn-primary" type="reset" id="btnCancelTest">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/CommonTask/AppConstant"></script>
    <script src="~/Scripts/module/test-setup/test-setup.js"></script>
    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        (function ($, window, document) {
            $(function () {
                var config = {
                    selectCategory: '#categoryType',
                    selectLevel: '#levelType',
                    selectTestType: '#testType',
                    createTest: '#btnCreateTest',
                    testContext: '#testContext',
                    testMarks: '#testMarks',
                    testDescription: '#testDescription',
                    testInstruction: '#testInstruction',
                    testDuration: '#testDuration',
                    testTableContext: '.tableContext',
                    openSetup: '#btnOpenSetup',
                    modalTestContext: '#modalTestContext',
                    testListContext: '#testListContext',
                    cancelTestSetup: '#btnCancelTest',
                    mainMessageContext: '#mainMessageContext',
                    popupMessageContext:'#popupMessageContext'
                };
                testBankSetup.init(config);

            });

        }(window.jQuery, window, document));
    </script>

}