ATS.Core/bin/*
ATS.Core/obj/*
ATS.Repository/bin/*
ATS.Repository/obj/*
ATS.Service/bin/*
ATS.Service/obj/*
ATS.Web/bin/*
ATS.Web/obj/*
*/bin/*
*/obj/*
*/[Dd]ebug/*
# Visual Studio 2015/2017 cache/options directory
.vs/
