@model List<ATS.Core.Model.UserInfoModel>
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-free-code-camp"></i> Result Setup</h1>
        <p>Setup form for users</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item"><a href="#">Result Setup</a></li>
    </ul>
</div>
<div id="mainMessageContext"></div>
<div class="row">
    <div class="col-md-12 chartContext">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">Result List</h3>
                <p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userContextModel"><i class="fa fa-fw fa-lg fa-check-circle"></i>User List</button>
                </p>
            </div>
            <hr />
            <div class="tile-body">
                <div class="bs-component">
                   
                    <button class="btn btn-primary consolidatedButton">Consolidated result</button>
                    <button class="btn btn-primary individualButton">Individual result</button>
                   
                    <div class="col-md-12" id="consolidatedChartContainer" style="min-height: 100px; width: 100%;">
                        <br />
                        <div><p>Please select atleast one user to see the result</p></div>
                    </div>
                    <div class="col-md-12" id="individualChartContainer" style="min-height: 100px; width: 100%;display:none">
                        <br />
                        <div><p>Please select atleast one user to see the result</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="modal fade" id="userContextModel" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>User List</h3>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="popupMessageContext"></div>
                    <div class="tile-body">
                        <table class="table table-striped table-sm table-bordered table-hover" id="tblUserList">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class="checkbox" id="chkUserinfo" /></th>
                                    <th>User Name</th>
                                    <th>Email Id</th>
                                    <th>Test Type </th>
                                    <th>Mobile Number</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary consolidatedButton" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>Show Result</button>
                    @*<button class="btn btn-primary" type="button" id="btnIndividualResult"><i class="fa fa-fw fa-lg fa-check-circle"></i>Individual Result</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/Scripts/module/result/result.js"></script>

    <script>
        (function ($, window, document) {
            $(function () {
                var config = {
                    userContextModel: '#userContextModel',
                    selecttblUserList: '#tblUserList',                   
                    btnConsolidatedResult: '#btnConsolidatedResult',
                    btnIndividualResult: "#btnIndividualResult",
                    btnchkAllUserinfo: '#chkUserinfo',
                    consolidatedChartContainer: '#consolidatedChartContainer',
                    individualChartContainer: '#individualChartContainer',
                    individualButton: '.individualButton',
                    consolidatedButton: '.consolidatedButton',
                    chartContext: '.chartContext',
                    mainMessageContext: '#mainMessageContext',
                    popupMessageContext:'#popupMessageContext'
                };
                result.init(config);
            });

        }(window.jQuery, window, document));
    </script>
}




