
@{
    ViewBag.Title = "Test Assignment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-free-code-camp"></i> Test Assignment</h1>
        <p>Assign Test to Users</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item"><a href="#">Test Assignment</a></li>
    </ul>
</div>

<div id="mainMessageContext"></div>

<div class="row" id="userContext">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h5 class="title">User Details</h5>
                <p>
                    <button type="button" class="btn btn-primary" id="btnOpenUserList">Select User</button>
                </p>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <div class="tile-body ui-test-context">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input type="text" class="form-control" readonly="readonly" id="userName" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Email Id</label>
                                        <input type="text" class="form-control" readonly="readonly" id="emailId" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>User Type</label>
                                        <input type="text" class="form-control" readonly="readonly" id="userType" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Mobile Number</label>
                                        <input type="text" class="form-control" readonly="readonly" id="mobile" />
                                        <input type="hidden" class="form-control" readonly="readonly" id="userId" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @*  <div class="tile-body tableContextUser">
        <table class="table table-striped table-sm table-bordered table-hover" id="tblSelectedUsersList">
             <thead>
                 <tr>
                     <th>#</th>
                     <th>User Name</th>
                     <th>Email Id</th>
                     <th>User Type </th>
                     <th>Mobile Number</th>
                 </tr>
             </thead>
             <tbody></tbody>
         </table>
        </div>*@
        </div>
    </div>
</div>

<div class="row" id="assignContext">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h5 class="title">Assigned Test List</h5>
                <p>
                    <button type="button" class="btn btn-primary" id="btnOpenTestList">Select Test</button>
                </p>
            </div>
            <hr />
            <div class="tile-body tableAssignTest">
                <table class="table table-striped table-sm table-bordered table-hover" id="tblAssignedList">
                    <thead>
                        <tr>
                            <th>#</th>
                            @*<th>User</th>*@
                            <th>Test</th>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="modal fade" id="modalSelectUserContext" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>User List</h3>
                    <button type="button" class="close cancel-select-user" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="popupUserMessageContext"></div>
                    <div class="tile-body tableContextUser">
                        <table class="table table-striped table-sm table-bordered table-hover" id="tblUserList">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>User Name</th>
                                    <th>Email Id</th>
                                    <th>Test Type </th>
                                    <th>Mobile Number</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="modal fade" id="modalSelectTestContext" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Select Test</h3>
                    <button type="button" class="close cancel-select-test" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="popupTestMessageContext"></div>
                    <div class="tile-body">
                        <table class="table table-striped table-sm table-bordered table-hover" id="tblTestList">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class="checkbox" id="chkTestinfo" /></th>
                                    <th>Test Description</th>
                                    <th>Category</th>
                                    <th>Type</th>
                                    <th>Level</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" id="btnAssignTestList"><i class="fa fa-fw fa-lg fa-check-circle"></i>Assign Test</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/CommonTask/AppConstant"></script>
    <script src="~/Scripts/common/form-validation-service.js"></script>
    <script src="~/Scripts/module/test-setup/map-test-user.js"></script>
    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        (function ($, window, document) {
            $(function () {
                var config = {
                    openUserList: '#btnOpenUserList',
                    openTestList: '#btnOpenTestList',
                    modalSelectUserContext: '#modalSelectUserContext',
                    modalSelectTestContext: '#modalSelectTestContext',
                    testContext: '#testContext',
                    userContext: '#userContext',
                    assignContext:'#assignContext',
                    //btnchkAllUserinfo: '#chkUserinfo',
                    btnchkAllTestinfo: '#chkTestinfo',
                    selecttblUserList: '#tblUserList',
                    selecttblTestList: '#tblTestList',
                    selecttblAssignedList: '#tblAssignedList',
                    contextTblAssignedTestList: '#tableAssignTest',
                    popupTestMessageContext: '#popupTestMessageContext',
                    popupUserMessageContext: '#popupUserMessageContext',
                    mainMessageContext: '#mainMessageContext',
                    closeSelectTest: '.cancel-select-test',
                    closeSelectUser: '.cancel-select-user',
                    tableContextUser: '.tableContextUser',
                    tblSelectedUsersList: '#tblSelectedUsersList',
                    btnSubmitUsersList: '#btnSubmitUsersList',
                    btnSubmitTestList: '#btnSubmitTestList',
                    tblSelectedTestsList: '#tblSelectedTestsList',
                    btnAssignTestList: '#btnAssignTestList',
                    userName: '#userName',
                    emailId : '#emailId',
                    userType: '#userType',
                    mobile  : '#mobile',
                    userId: '#userId',
                    selectedFirstLastName:'.FirstLastName',
                    selectedEmail:'.Email',
                    selectedRoleType:'.RoleType',
                    selectedMobile:'.Mobile',
                    selectedUserId:'.userId',

                };
                mapTestUser.init(config); 
                
            }); 

        }(window.jQuery, window, document));
    </script>

}


