@inherits System.Web.Mvc.WebViewPage
@{
    //ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="questionContainer">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i>Setup</h1>
            <p>Setup form for users</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item"><a href="#">Question Setup</a></li>
        </ul>
    </div>

    <div class="row">

        <div class="col-md-2">
            <label class="name-tag" for="question_language_id">Language</label>
        </div>
        <div class="col-sm-8">
            <div class="radio-list"><label class="radio-options new-ques-lang"><input type="radio" value="1" checked="checked" name="question[language_id]" id="question_language_id_1">English</label></div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="name-tag control-label" for="question_exam_mode_id">Exam Mode</label>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" required="required" name="question[exam_mode_id]" id="question_exam_mode_id">
                                <option value="">- Select -</option>
                                <option selected="selected" value="1">Exam</option>
                                <option value="2">Homework</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="name-tag control-label" for="question_difficulty_level">Difficulty Level</label>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" required="required" name="question[difficulty_level]" id="question_difficulty_level">
                                <option value="">- Select -</option>
                                <option selected="selected" value="easy">Easy</option>
                                <option value="medium">Medium</option>
                                <option value="hard">Hard</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-6"><label class="name-tag control-label" for="question_question_type">Question Type</label><a data-target="#question-instructions-modal" data-toggle="modal" class="q-type-icon" href="#"><i class="fa fa-exclamation-circle blue fa-1x" data-placement="right" data-toggle="tooltip" data-original-title="Instructions"></i></a></div>
                    <div class="col-md-6">
                        <select class="form-control" required="required" name="question[question_type_id]" id="question_question_type_id">
                            <option value="">- Select -</option>
                            <option value="1">Multiple Choice</option>
                            <option value="2">Multiple Selection</option>
                            <option value="3">Fill in the blanks</option>
                            <option value="4">Yes/No or True/False</option>
                            <option value="10">Descriptive</option>
                            <option value="11">Passage Based</option>
                            <option value="13">Audio Based</option>
                            <option value="14">Video Based</option>
                            <option value="15">Short Answer</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-6"><label class="name-tag control-label" for="question_subject">Subject</label></div><div class="col-md-6">
                        <select class="form-control" required="required" name="question[subject_id]" id="question_subject_id">
                            <option value="">- Select -</option>
                            <option value="1">C</option>
                            <option value="2">C++</option>
                            <option value="2">Java</option>
                            <option value="2">.Net</option>
                            <option value="2">MVC</option>
                            <option value="2">AngularJs</option>
                            <option value="2">Angular 2</option>
                            <option value="2">Node JS</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-2">
            <label class="name-tag" for="question_question_languages_attributes_0_hint">Question</label>
        </div>
        <div class="col-md-8"><textarea placeholder="Question" rows="3" class="form-control" name="question[question_languages_attributes][0][hint]" id="question_text"></textarea></div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-2">
            <label class="name-tag ans-opt-label" for="question_Answer Options">Answer options</label>
        </div>
        <div class="col-md-8 option-partial">
            <i class="grey">Please select the question type first</i>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-2">
            <label class="name-tag control-label" for="question_mark">Mark</label>
        </div>
        <div class="col-md-8">
            <input placeholder="Mark" class="form-control widget-small" required="required" step="0.01" min="0.01" max="1000" type="number" name="question[mark]" id="question_mark">
        </div>
    </div>

    <br />

    @*<div class="row">
            <div class="col-md-2">
                <label class="name-tag" for="question_pool_ids">Question Bank</label>
            </div>
            <div class="col-md-8">
                <div class="ques-pool mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar">
                    <div id="mCSB_1" class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
                        <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                            <div class="row cust-row">
                                <input type="hidden" name="question[pool_ids][]" value="">
                                <div class="col-lg-4 col-md-6">
                                    <input type="checkbox" value="1" name="question[pool_ids][]" id="question_pool_ids_1">
                                    <label class="checkbox-options" for="question_pool_ids_1">Demo</label>
                                </div>
                            </div>
                        </div>
                        <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
                    </div>
                </div>
            </div>
        </div>*@

    <br />
    <div class="tile-footer">
        <button class="btn btn-primary" id="button_create_question" type="submit">Create</button>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Question/question.js"></script>
    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        (function ($, window, document) {
            $(function () {
                var config = {
                    selectContainer: '#questionContainer',
                    selectQuesLangId: '#question_language_id_1',
                    selectQuesExamModeId: '#question_exam_mode_id',
                    selectQuesDiffiLevel: '#question_difficulty_level',
                    selectQuesQuesTypeId: '#question_question_type_id',
                    selectQuesSubjectId: '#question_subject_id',
                    selectQuesText: '#question_text',
                    selectQuesMark: '#question_mark',
                    btnCreateQuestion: '#button_create_question'
                };
                question.init(config);

            });

        }(window.jQuery, window, document));
    </script>

}
