@inherits System.Web.Mvc.WebViewPage
@{
    //ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="questionContainer">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i>Setup</h1>
            <p>Setup form for users</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item"><a href="#">Question Setup</a></li>
        </ul>
    </div>

    <div class="row">

        <div class="col-md-12">
            <label class="name-tag" style="font-size:larger " for="question_language_id"><b>Create Question</b></label>
        </div>

    </div>


    <br />

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="name-tag control-label" for="question_difficulty_level">Difficulty Level</label>
                        <select class="form-control" required="required" name="question[difficulty_level]" id="question_difficulty_level">
                            <option value="">- Select -</option>
                            <option selected="selected" value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                        </select>
                    </div>
                    @*<div class="col-md-6">
                            <select class="form-control" required="required" name="question[difficulty_level]" id="question_difficulty_level">
                                <option value="">- Select -</option>
                                <option selected="selected" value="easy">Easy</option>
                                <option value="medium">Medium</option>
                                <option value="hard">Hard</option>
                            </select>
                        </div>*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="name-tag control-label" for="question_question_type">Question Type</label>
                        <select class="form-control" required="required" name="question[question_type_id]" id="question_question_type_id">
                            <option value="">- Select -</option>
                            <option value="1">Multiple Choice Question</option>
                            <option value="2">Yes/No or True/False</option>
                            <option value="3">Subjective</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="name-tag control-label" for="question_subject">Subject</label>
                        <select class="form-control" required="required" name="question[subject_id]" id="question_subject_id">
                            <option value="">- Select -</option>
                            <option value="1">C</option>
                            <option value="2">C++</option>
                            <option value="2">Java</option>
                            <option value="2">.Net</option>
                            <option value="2">MVC</option>
                            <option value="2">AngularJs</option>
                            <option value="2">Angular 2</option>
                            <option value="2">Node JS</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-2">
            <label class="name-tag" for="question_question_languages_attributes_0_hint">Question Description</label>
        </div>
        <div class="col-md-8"><textarea placeholder="Question" rows="3" class="form-control" name="question[question_languages_attributes][0][hint]" id="question_text"></textarea></div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-2">
            <label class="name-tag">Answer Description</label>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="MCQType">
                    <div class="form-group row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="true" class="form-control input-sm" placeholder="Option1" id="Option1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="false" class="form-control input-sm" placeholder="Option2" id="Option2">


                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="true" class="form-control input-sm" placeholder="Option3" id="Option3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="false" class="form-control input-sm" placeholder="Option4" id="Option4">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="TFType">
                    <div class="form-group row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="true" class="form-control input-sm" placeholder="True" id="True">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="false" class="form-control input-sm" placeholder="False" id="False">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div id="SubjectType">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <textarea placeholder="Answer" rows="3" class="form-control" id="Subjective_text"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-2">
            <label class="name-tag ans-opt-label" for="question_Answer Options">Answer options</label>
        </div>
        <div class="col-md-8 option-partial">
            <i class="grey">Please select the question type first</i>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-2">
            <label class="name-tag control-label" for="question_mark">Mark</label>
        </div>
        <div class="col-md-8">
            <input placeholder="Mark" required="required" type="number" name="question[mark]" id="question_mark">
        </div>
    </div>


    <br />
    <div class="tile-footer">
        <button class="btn btn-primary" id="button_create_question" type="submit">Create</button>
    </div>

</div>


@section scripts {
    <script src="~/Scripts/Question/question.js"></script>
    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        (function ($, window, document) {
            $(function () {
                var config = {
                    selectContainer: '#questionContainer',
                    selectQuesLangId: '#question_language_id_1',
                    selectQuesExamModeId: '#question_exam_mode_id',
                    selectQuesDiffiLevel: '#question_difficulty_level',
                    selectQuesQuesTypeId: '#question_question_type_id',
                    selectQuesSubjectId: '#question_subject_id',
                    selectQuesText: '#question_text',
                    selectQuesMark: '#question_mark',
                    btnCreateQuestion: '#button_create_question',
                    selectMCQType: '#MCQType',
                    selectTFType: '#TFType',
                    selectSubjectType: '#SubjectType',

                    selectOption1: '#Option1',
                    selectOption2: '#Option2',
                    selectOption3: '#Option3',
                    selectOption4: '#Option4',
                    selectTrue: '#True',
                    selectFalse: '#False',
                    selectSubjective_text:'#Subjective_text'


                };
                question.init(config);

            });

        }(window.jQuery, window, document));
    </script>

}
