@model List<ATS.Core.Model.QuestionBankModel>
@{
    ViewBag.Title = "QuestionList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-free-code-camp"></i> Setup</h1>
        <p>Setup form for users</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item"><a href="#">Question List</a></li>
    </ul>
</div>

@using (Html.BeginForm("Question", "SetUp", FormMethod.Post, new { @id = "formSubmit" }))
{
    <div id="mainMessageContext"></div>
    <div class="row">
        <div class="col-md-12 tableContext">
            <div class="tile">
                <input type="hidden" id="selectedId" name="selectedId" />
                <div class="tile-title-w-btn">
                    <h3 class="title">Question List</h3>
                </div>
                <hr />
                <div class="tile-body">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Question Description</th>
                                <th>Question Type</th>
                                <th>Question Level</th>
                                <th>Category</th>
                                <th>Marks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/module/question/question-list.js"></script>
    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        //(function ($, window, document) {
            $(function () {
                var config = {
                    tableContext: '.tableContext',
                    btnRemoveType: '.btnRemoveType',
                    btnEditType: '.btnEditType',
                    Qid: '.Qid',
                    selectedId: '#selectedId',
                    formSubmit: '#formSubmit',
                    sampleTable: '#sampleTable',
                    mainMessageContext:'#mainMessageContext'
                };
                questionList.init(config);
            });
        //}(window.jQuery, window, document));
    </script>

}

